body {
    font-family: Arial, sans-serif;
    background: white;

}
* {
    font-family: 'K2D', sans-serif;
    transition: 1s ease;
}

.logo {
    width: 14rem;
}

.nav-item-custom {
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: rgba(0, 0, 0, 0.48);
    border-radius: 50px;
    margin: 0.3rem;

}

.nav-item-custom a {
    color: white;
    font-family: "K2D", sans-serif;

}

.nav-item-custom:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.my-cab {
    font-size: 40px;
    color: rgba(0, 0, 0, 0.48);
}

.dropdown-menu[data-bs-popper] {
    left: -8rem !important;
}

.create-user-container {
    padding-top: 4rem;
    justify-content: center;
    display: flex;
}

.create-user-content {
    padding: 2rem;
    border-radius: 10px;
    border: 2px black solid;
    background-color: transparent;
}

.new-user-input {
    padding-left: 1rem;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.33);
    border: 0 solid transparent;
}

.new-user-input::placeholder {
    color: white;
}

.mb-3 {
    justify-content: center;
    display: flex;
}
.roles-select{
    background-color: transparent;
    border: 0px transparent;
    overflow: hidden;
    height: 5rem;
    text-align: center;
}
.roles-select:focus-visible{
    border: 0 transparent!important;
    outline: none!important;
}
.create-user-button, .block-user-button,.unblock-user-button {
    width: 10rem;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    border: 0 solid transparent;
    border-radius: 10px ;
}
.create-user-button:active{
    transform: translate(0,2px) ;
    transition: 0.1s ease;
}

::-webkit-scrollbar {
    width: 6px;

}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(241, 241, 241, 0.51);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.routes-creator{
    justify-content: center;
    display: flex;
    padding: 4rem;
    border: 2px solid;
    color: black;
    border-radius: 20px;
    margin-top: 2rem!important;
}
.route-form{
    padding-right: 2rem;
}
.departure-city-div, .transit-city-div, .arrival-city-div{
    justify-content: center;
    display: flex;
}
.create-route-div{
    justify-content: center;
    display: flex;
}
.create-route-btn{
    font-size: 24px;
    font-weight: 400;
    color:white;
    background-color: black;
    border: 0 solid transparent;
    border-radius: 20px;
    width: 13rem;
    margin-top: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.plus-icon{
    font-size: 30px;
    color: black;
}
.ticket-input{
    width: 8rem;
    height: 2rem;
    border-radius: 15px;
    border:0px solid transparent;
    color: black;
    background-color: transparent;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
[v-cloak] {
    display: none;
}