body{
    background: radial-gradient(circle, #FECD27 0%, #0076BE 100%);
}
header{
    background-color: rgb(67 119 179 / 60%);
    text-align: center;
    margin-bottom: 2%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 87px;
    z-index: 2;
}
.body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Jost', sans-serif;
}
.main{
    width: 350px;
    height: 270px;
    /*background: red;*/
    overflow: hidden;
    background: white;
    border-radius: 10px;
    box-shadow: 5px 5px 142px #03F;
}
.sign-in-header{
    text-align: center;
}
.sign-in-header h2{
    height: 62px;
    font-size: 47px;
    background: radial-gradient(circle, #FECD27 0%, #0076BE 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.signup{
    user-select: none;
    position: relative;
    width:100%;
    height: 100%;
}
.logo img{
    display: flex;
    position: absolute;
    margin-top: 1%;
    margin-left: 1%;
}

.input-form{
    text-align: center;
}
.inline{
    max-width:400px;
    margin:auto;
}
.input-icons i {
    position: absolute;
}

.input-icons {
    width: 100%;
    margin-bottom: 10px;
}

.icon {
    padding: 14px;
    min-width: 40px;
}
.icon-eye{
    padding-left: 14px;
    min-width: 40px;
}

.input-field {
    border-radius: 15px;
    width: 85%;
    padding: 10px;
    gap: 1rem;
    text-align: center;
    margin-bottom: 3px;
    border: solid 1px;
}
.sign-in-button{
    border-radius: 15px;
    width: 85%;
    padding: 10px;
    text-align: center;
    margin-bottom: 3px;
    border: solid 1px;
    background: radial-gradient(circle, #FECD27 0%, #0076BE 100%);
}
.sign-in-button:active{
    box-shadow: 5px 5px 10px #FECD27;
}
.fa-lg{
    line-height: 1.05em!important;
}
[v-cloak] {
    display: none;
}