*{
    font-family: "Inter";
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    color:#00A0C6;
    text-decoration:none;
    cursor:pointer;
}
/* button:hover{
    background-color: #181818; */
/* } */
.header-text-custom{
    color:white
}
.button-top-custom {
    background-color:black;
    color: white;
    max-height:60px;
    border-radius: 8px;
    box-shadow: 0 6px 6px 0 rgba(0,0,0,0.2);

    /* max-width:500px; */
    /* height:auto;
    width:auto; */
    /* text-align: center;
    vertical-align: bottom;} */
}
.button-top-custom:hover {
    background-color:#363030;
}
.button-submit-custom {
    background-color:black;
    color: white;
    border-radius: 14px;
    text-decoration: none;
}
.button-submit-custom:hover {
    background-color:#363030;
    color: white;
}
.button-submit-custom:active{
    text-decoration: none;
    background-color:#363030;
    color: white;

}
.span-top-custom {
    position: relative;
    align-self: center;
    padding-left: 5px;
}
.paragraphs-custom{
    padding-left: 10%;
    padding-right: 10%;
}

.hr-shadowed {
    border:none;
    height: 20px;
    margin-top: 0;
    border-bottom: 1px solid #030302;
    box-shadow: 0px 8px 5px -7px #070707;
    margin: -10px -10% 10px;
    z-index: -1;
}

.button-price-ticket-custom{
    background-color:black;
    color: white;
    border-radius: 14px;
    text-decoration: none;
    font-weight: bold;
    border:0;
}

.button-price-ticket-custom:hover {
    background-color:#363030;
    color: white;
}
.border-end{
    border-width: 2px;
}